## Preprocessing

In [132]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd
ccfraud_df = pd.read_csv("Resources/fraud_test.csv")
ccfraud_df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,21/06/2020 12:14,2.291160e+15,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,19/03/1968,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,21/06/2020 12:14,3.573030e+15,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",17/01/1990,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,21/06/2020 12:14,3.598220e+15,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",21/10/1970,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,21/06/2020 12:15,3.591920e+15,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,25/07/1987,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,21/06/2020 12:15,3.526830e+15,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,06/07/1955,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [133]:
#Drop identifier columns
ccfraud_df = ccfraud_df.drop(['trans_date_trans_time','Unnamed: 0','cc_num','first','last','street','dob','trans_num'],axis=1)

#drop complicating columns
ccfraud_df = ccfraud_df.drop(['merchant','city','job'],axis=1)

ccfraud_df.head()

,category,amt,gender,state,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,personal_care,2.86,M,SC,29209,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,0
1,personal_care,29.84,F,UT,84002,40.3207,-110.4360,302,1371816873,39.450498,-109.960431,0
2,health_fitness,41.28,F,NY,11710,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111,0
3,misc_pos,60.05,M,FL,32780,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061,0
4,travel,3.19,M,MI,49632,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734,0

In [134]:
# Generate our categorical variable lists
ccfraud_cat = ccfraud_df.dtypes[ccfraud_df.dtypes == "object"].index.tolist()

In [135]:
# Check the number of unique values in each column
ccfraud_df[ccfraud_cat].nunique()

category    14
gender       2
state       50
dtype: int64

In [136]:
# Convert categorical data to numeric with `pd.get_dummies`
ccfraud_df = pd.get_dummies(ccfraud_df,dtype=float)
ccfraud_df

,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,category_entertainment,...,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
0,2.86,29209,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,29.84,84002,40.3207,-110.4360,302,1371816873,39.450498,-109.960431,0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,41.28,11710,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,60.05,32780,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.19,49632,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,43.77,63453,40.4931,-91.8912,519,1388534347,39.946837,-91.333331,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
555715,111.84,77566,29.0393,-95.4401,28739,1388534349,29.661049,-96.186633,0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
555716,86.88,99323,46.1966,-118.9017,3684,1388534355,46.658340,-119.715054,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
555717,7.99,83643,44.6255,-116.4493,129,1388534364,44.470525,-117.080888,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
555718,38.13,73034,35.6665,-97.4798,116001,1388534374,36.210097,-97.036372,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [137]:
# Split our preprocessed data into our features and target arrays
y = ccfraud_df["is_fraud"].values
X = ccfraud_df.drop(['is_fraud'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [138]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [139]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  3
hidden_nodes_layer2 = 3
hidden_nodes_layer3 = 3

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/Users/emiliaroberts/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/layers/core/dense.py:85: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_5 (Dense)                 │ (None, 3)              │           225 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_6 (Dense)                 │ (None, 3)              │            12 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 3)              │            12 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │             4 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 253 (1012.00 B)

 Trainable params: 253 (1012.00 B)

 Non-trainable params: 0 (0.00 B)

In [140]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [144]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=5)

Epoch 1/5
13025/13025 ━━━━━━━━━━━━━━━━━━━━ 5s 403us/step - accuracy: 0.9961 - loss: 0.0155
Epoch 2/5
13025/13025 ━━━━━━━━━━━━━━━━━━━━ 5s 389us/step - accuracy: 0.9960 - loss: 0.0159
Epoch 3/5
13025/13025 ━━━━━━━━━━━━━━━━━━━━ 5s 385us/step - accuracy: 0.9962 - loss: 0.0149
Epoch 4/5
13025/13025 ━━━━━━━━━━━━━━━━━━━━ 5s 383us/step - accuracy: 0.9962 - loss: 0.0152
Epoch 5/5
13025/13025 ━━━━━━━━━━━━━━━━━━━━ 5s 383us/step - accuracy: 0.9960 - loss: 0.0156

In [145]:
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

4342/4342 - 1s - 303us/step - accuracy: 0.9962 - loss: 0.0143
Loss: 0.014275423251092434, Accuracy: 0.9961923360824585

In [146]:
#get feature importance from model
weights = nn.get_weights()
feature_importance = np.sum(np.abs(weights[0]), axis=1)

#drop is_fraud category
features_index = ccfraud_df.columns.delete(11)

#create dataframe
feature_df = pd.DataFrame(data=feature_importance,index=features_index,columns=['Feature Weight'])
feature_df
#sort dataframe to see most important values
feature_df.sort_values(by=['Feature Weight'], ascending=False)

                       Feature Weight
state_PA                     7.125985
state_TX                     6.271237
state_MI                     6.218997
category_shopping_pos        5.911397
state_IL                     5.517467
...                               ...
city_pop                     0.642169
gender_F                     0.617357
unix_time                    0.485071
merch_lat                    0.452287
gender_M                     0.341778

[74 rows x 1 columns]